#color {
    width: 50rem;
    height: 20rem;
}
h1, h4, h5, button {
    font-family: sans-serif;
    text-align: center;
}
button {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}
button:hover {
    background-color: rgb(54, 55, 57);
    cursor: pointer;
    color: white;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
